*.hcl
*.tfstate
_azurite*
.terraform/
*/.terraform/
*/.env/
poc/
poc-base/
poc-secblog/
poc-secblogdr/
poc-riskiq/
poc-ingress/
poc-testing/
__blobstorage__/
.ssh/
poc/.ssh/
dev/
dev/.ssh/
dev-base/
dev-secblog/
dev-secblogk8/
dev-riskiq/
dev-riskiqk8/
dev-translator/
dev-translatork8/
dev-ingress/
dev-testing/
stg/
stg/.ssh/
stg-base/
stg-secblog/
stg-secblogk8/
stg-riskiq/
stg-riskiqk8/
stg-translator/
stg-translatork8/
stg-cloudblog/
stg-cloudblogk8/
stg-dynamics365/
stg-dynamics365k8/
stg-ingress/
stg-testing/
ppe/
ppe/.ssh/
ppe-base/
ppe-secblog/
ppe-secblogk8/
ppe-riskiq/
ppe-riskiqk8/
ppe-translator/
ppe-translatork8/
ppe-dynamics365/
ppe-dynamics365k8/
ppe-ingress/
ppe-testing/
prd/
prd/.ssh/
prd-base/
prd-secblog/
prd-secblogk8/
prd-riskiq/
prd-riskiqk8/
prd-ingress/
prd-testing/
prd-translator/
prd-translatork8/
prd-dynamics365/
prd-dynamics365k8/